/* JumboTron */

body {
    background-color:#b7b1fd;
    margin:0;
    padding:0;
}
.title1 {
    background-image: url(backgroundimages/bridges.png);
}
.title2 {
    background-image: url(backgroundimages/churchill.png);
}
.title3 {
    background-image: url(backgroundimages/watertower.png);
}
.title4 {
    background-image: url(backgroundimages/21C.png);
}
.title5 {
    background-image: url(backgroundimages/fountain.png);
}

.jumbotron {
    background-size: cover;
    /*max-height:632px;*/
    padding-top:20%;
    border-bottom: 30px solid #006;
    background-repeat:no-repeat;
}

.jumbotron h1 {
    font-family:'Open Sans', sans-serif;
    font-weight:700;
    font-size:14em;
    color: #fff;
    text-shadow: 4px 4px 10px #006;
    margin:-30px 0 0 0;
    padding:0;
}
.jumbotron h2 {
    font-family:'Open Sans', sans-serif;
    font-weight:300;
    font-size:8em;
    color: #fff;
    text-shadow: 4px 4px 10px #006;
    margin:-30px 0 0 3px;
    padding:0;
}

/* TEXT RULES */


h3 {
    color:#006;
    font-family:'Open Sans', sans-serif;
    font-size: 6em;
    font-weight:bold;
    text-shadow: 2px 2px 5px #FFF;
    margin:0;
    padding:0;
}

h4 {
    color:#006;
    font-family:'Catamaran', sans-serif;
    font-size: 5em;
    font-weight:bold;
    padding:0 2% 0 0;
}

h5 {
    color:#006;
    font-family:'Catamaran', sans-serif;
    font-size: 3em;
    font-weight:400;
    margin:0 0 40px 0;
    padding:0;
}

h6 {
    color:#006;
    font-family:'Catamaran', sans-serif;
    font-size: 2em;
    font-weight:400;
    margin:0 0 0 0;
    padding:0;
}

p {
    color:#006;
    font-family:'Catamaran', Arial, sans-serif;
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: #006;
}

a:hover {
    color: #FC3;
}

.panel .descr li {
    font-size:1.8em;
}

/* NAVIGATION */
nav {
    text-decoration: none;
    text-align:center;
    font-family: 'Catamaran', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    background-color:rgba(255,255,255,0.9);
    box-shadow: -5px 5px 10px #006;
    border-radius: 0px 0px 2em 2em;
    border-width: 0px 8px 5px 4px;
    padding: 5px 10px 15px 10px;
    display:inline-block;
    position:fixed;
    top:0;
    right:3%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* FOOTER */

.credits {
    color:#006;
    font-family:'Catamaran', Arial, sans-serif;
    font-size: 1em;
    font-style: italic;
    text-align:center;
}

/* CONTENT */

.divLeft {
    background-color:rgba(255,255,255,0.9);
    border-radius:0 2em 2em 0;
    box-shadow: 5px 5px 10px #006;
    border-width: 3px 12px 10px 0px;
    margin: 3% 20% 3% 0%;
    padding: 5% 2%; 
}

.divRight {
    background-color:rgba(255,255,255,0.9);
    border-radius:2em 0 0 2em;
    box-shadow: -5px 5px 30px #006;
    border-width: 3px 0px 10px 12px;
    margin: 1% 0% 3% 10%;
    padding: 5% 20% 5% 2%
}

.joinlink {
    background-color:#006;
    font-family:'Open Sans', Arial, sans-serif;
    font-size: 3em;
    text-align: center;
    display:block;
    padding: 3% 0 3% 0;
    margin: 40px 0 40px 0;
}
.joinlink a {
    color:#FC3;
}
.joinlink a:hover {
    color:#669;
    text-decoration:none;
}

#calendar {
    margin: 2% 5% 5% 5%;
    border-radius:10px;
}

.fb-page {
    border: 4px solid #FFCC33; 
    max-width: 475px;
}

.fb {
    padding:5%;
}

/* PHOTOS */

.photo {
    border-radius:2em;
    border: 4px solid #FFCC33; 
    margin: 0% 2% 2% 0%;
}

.photo1 {
    max-width: 50%;
}


.gallery {
    max-width: 100%;
    height:250px;
    display:inline-block;
    border-radius:2em;
    border: 4px solid #FFCC33; 
    margin: 2% 2% 2% 0%;
}


/* INTERACTIVE JOIN FORM */

.joinform {
    display:block;
    background-color:#FC3;
    border: 8px solid #006;
    text-align:center;
    border-radius:2em;
}
.joinform .submit {
    background-color:#006;
    padding:1%;
    border-radius:50%;
    border-color:#006;
    color:#FC3;
    box-shadow: 2px 2px 10px #000;
    margin:2%;
}
.joinform .submit:hover {
    box-shadow: 2px 2px 10px #FFF;
}
.joinform .submit:focus {
    box-shadow: 2px 2px 10px #FFF;
}
#overlay {
    background:rgba(0,0,102,0.5);
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    display:none;
    padding-top: 8%;
}

/* IDEAS FORM */

#ideasubmit {
    background-color:#006;
    padding:1%;
    border-radius:50%;
    border-color:#006;
    color:#FC3;
    box-shadow: 2px 2px 10px #000;
    margin:5% 45% 0 45%;
}
#ideasubmit:hover {
    box-shadow: 2px 2px 10px #FC3;
}
#ideasubmit:focus {
    box-shadow: 2px 2px 10px #FC3;
}

.ideas #projectidea {
    width: 91%; 
    height:150px;
    padding: 2px;
}

.ideas #contactname {
    width: 75%; 
    padding: 1px;
}

.ideas #contactemail {
    width: 71.5%; 
    padding: 1px;
}

/* ABOUT PAGE */

.committees li {
    color:#006;
    font-family:'Catamaran', sans-serif;
    font-size: 1.5em;
    font-weight:400;
    margin:0 0 0 0;
    padding:0;
    list-style:circle;
}



/* CONTACTS PAGE */

.vert {
    margin-bottom:3%;
    display: flex;
    align-items: center;
}

object {
    width: 100%;
    min-width:30px;
}

/* PROJECTS PAGE */

.rating {
 text-align: right;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
    margin: 30px 0;
}

.likes{
    background: #FC3 ;
    color: #006;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 0 0 30px;
    text-align: center;
    font-weight: 200;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background 500ms;
}

.likes:hover{
    color: #FFF ;
    background: rgba(0, 0, 102, 0.25);
    transition: background 500ms;
}

.date {
   display:inline-block;
}

.name {
    margin: 5% 0 5% 0;
    font-weight:700;
}

.projects h5 {
    font-size: 3em;
    margin-bottom:2%;
}


