@media only screen and (max-width: 1275px) {
    /* tablets and phones in portrait*/

/* TEXT RULES */
h1 {
    font-size: 11vw;
    margin: 10% 0 10% 5%;
}

h2 {
    font-size: 12vw;
    margin: 2% 0 1% 1%;
}
    
h3 {
    font-size: 8vw;
}
    
h4 {
    font-size: 7vw;
}
    
h5 {
    font-size: 6vw;
}

/* HEADER */

.nav {
    font-size: 0.9em;
    box-shadow: -5px 5px 30px #006;
    border-radius: 0px 0px 30px 30px;
   /* border-width: 0px 8px 5px 4px;
    padding: 5px 10px 12px 10px;*/
    display:inline-block;
    position:absolute;
}
.nav #logo {
        width: 125px;
    }

.projects .headline {
    margin-left: 10%;
}
.about .headline {
    margin-left: 10%;
}
.activities .headline {
    margin-left: 10%;
}
.contact .headline {
    margin-left: 10%;
}

/* CONTENT */

.divLeft {
    margin: 10% 5% 5% 0%;
    padding: 2%; 
}

.divRight {
    margin: 10% 0% 5% 5%;
    padding: 2%;
}

.icons a {
    font-size: 1.5em;
}
}


@media only screen and (max-width: 800px) {
    /* PHONES */

/* TEXT RULES */

h1 {
    font-size: 17vw;
    margin-top: 150px;
}

h2 {
    margin: 25% 0 1% 1%;
}

h3 {
    margin-top: 150px;
}

h4 {
    margin-bottom: 3%;
}
    
p {
    font-size: 3.5vw;
}


/* HEADER */

.nav {
    display:none,
    /* use Jquery to create dropdown*/
}
.nav #logo {
        width: 100px;
}
    
.projects .headline {
    margin-left: 5%;
}
.about .headline {
    margin-left: 5%;
}
.activities .headline {
    margin-left: 5%;
}
.contact .headline {
    margin-left: 5%;
}

/* CONTENT */

.divLeft {
    margin: 15% 5% 5% 0%;
    padding: 2%; 
}

.divRight {
    margin: 15% 0% 5% 5%;
    padding: 2%;
}

.icons a {
    font-size: 1.2em;
}
    
.joinlink a {
    font-size: 10vw;  
}
   
    








