@media only screen and (max-width: 1275px) {
    /* tablets and phones in portrait*/

/* TEXT RULES */
.jumbotron h1 {
    font-size: 17vw;
}

.jumbotron h2 {
    font-size: 14vw;
}
    
h3 {
    font-size: 8vw;
}
    
h4 {
    font-size: 7vw;
}
    
h5 {
    font-size: 6vw;
}

h6 {
    font-size: 4vw;
}
/* HEADER */

nav {
    font-size: 0.9em;
    box-shadow: -5px 5px 30px #006;
    border-radius: 0px 0px 30px 30px;
    display:inline-block;
    position:absolute;
}
nav #logo {
        width: 125px;
    }

/* CONTENT */

.divLeft {
    margin: 10% 5% 5% 0%;
    padding: 2% 2% 5% 2%;
}

.divRight {
    margin: 10% 0% 5% 5%;
    padding: 2% 2% 5% 2%;
}


@media only screen and (max-width: 800px) {
    /* PHONES */

/* TEXT RULES */

.jumbotron h1 {
    font-size: 15vw;
    margin: 0 0 5% 5%;
}

.jumbotron h2 {
    font-size: 12vw;
    margin: 15% 0 0 1%;
}

h3 {
    margin-top: 150px;
}

h4 {
    margin-bottom: 3%;
}
    
p {
    font-size: 3.5vw;
}

.panel h6 {
    font-size:6vw;
}
    
.panel .descr li {
    font-size:5vw;
}
    
/* HEADER */

nav {
    display:none,
}
    
nav #logo {
        width: 100px;
}
    

/* CONTENT */

.divLeft {
    padding: 3%; 
}

.divRight {
    padding: 3%;
}

.icons a {
    font-size: 1.5em;
}
    
.joinlink a {
    font-size: 10vw;  
}
    
.icons {
    padding-bottom: 50px;
    } 
    
.icon {
        display:block;
    }




